{{ define "main" }}
<div class="container">
  {{ partial "title.html" (dict "content" .Title) }}
  <figure class="glass p-8 rounded-lg shadow-lg lg:mx-16 mb-12">
    <img src="{{ .Permalink }}{{ .Resources.GetMatch "images/banner*" }}"
    class="rounded-lg shadow-xl" /> {{ if isset .Params "unsplash_link" }}
    <figcaption class="italic text-sm text-center mt-4">
      <a href="{{ .Params.unsplash_link }}" class="text-white underline"
        >Picture from unsplash</a
      >
    </figcaption>
    {{ end }}
  </figure>
  {{ partial "article/tags.html" .Params.Tags }}
  <div class="content mb-12">{{ .Content }}</div>
  <div class="flex flex-col gap-12 lg:flex-row">
    {{ $context := . }} {{ $countAuthors := len .Params.authors }} {{ range
    $author := .Params.authors }} {{ partial "article/author.html" (dict
    "context" $context "name" $author "direction" (cond (gt $countAuthors 1)
    "vertical" "horizontal")) }} {{ end }}
  </div>
</div>
{{ end }}
