<div class="inline-block">
  <div class="small-article shadow-xl mb-12 cursor-pointer">
    <div class="rounded-t-lg glass p-8">
      <figure class="mb-8 tilt">
        <img src="{{ .Permalink }}{{ .Resources.GetMatch "images/banner*" }}"
        class="rounded-lg shadow-xl" />
      </figure>
      <h1 class="text-center text-2xl font-bold mb-4 drop-shadow-lg">
        <a
          href="{{ .Permalink }}"
          class="border-b-4 border-dos-blue text-dos-white"
          >{{ .Title }}</a
        >
      </h1>
    </div>
    <div class="bg-dos-white text-dos-black p-8 rounded-b-lg">
      <p class="mb-8">{{ .Summary }}</p>
      {{ partial "article/badges.html" (dict "context" . "center" "true") }}
    </div>
  </div>
</div>
