{{ define "main" }} {{- $pages := .Pages -}} {{- if .IsHome -}} {{- $pages =
.Site.RegularPages -}} {{- end -}} {{- $paginator := .Paginate (where $pages
"Type" "posts") 6 -}} {{ range $paginator.Pages }}
<div class="rounded-xl">
  <p>
    <img src="{{ .Permalink }}{{ .Resources.GetMatch "images/banner*" }}"
    class="w-full" />
  </p>
  <h1>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <div class="bg-dos-white">
    <p class="flex-grow">
      {{- .Description }} ... <a href="{{ .RelPermalink }}">read more</a>
    </p>
    <ul class="flex">
      <li>
        <i class="far fa-clock text-sm"></i> {{ .ReadingTime }} minute{{ if gt
        .ReadingTime 1 }}s{{ end }} to read
      </li>
      <li class="">{{ time.Format "2006-01-02" .Date }}</li>
      <li class="">{{ .Author }}</li>
    </ul>
  </div>
</div>
{{ end }} {{ partial "paginator" . }} {{ end }}
