@import "node_modules/@fontsource/saira/latin.css";
@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

html,
body {
  @apply bg-dos-background min-h-screen text-dos-black;
}

svg {
  @apply inline-block align-top;
}

p {
  @apply leading-7 text-justify;
}

main {
  @apply text-dos-white;

  &::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  a {
    @apply text-dos-pink;
  }
}

nav {
  @apply text-dos-black;

  ul {
    @apply md:w-1/3 md:flex flex-row;
  }

  li {
    a {
      @apply text-dos-black h-12 px-4 relative block before:absolute before:h-1 before:bg-dos-pink before:left-0 before:bottom-0 before:w-0 before:transition-all before:duration-700;

      line-height: 3rem;

      &.active {
        @apply before:w-full;
      }

      &:hover {
        @apply before:w-full;
      }
    }
  }
}

#logo {
  &::before,
  &::after {
    @apply block w-5 h-5 absolute z-20 bottom-0 rounded-full -mb-1;
    content: "";
  }

  &::before {
    @apply -left-5;
    box-shadow: 10px -10px 0 0px #fafafa;
  }

  &::after {
    @apply -right-5;
    box-shadow: -10px -10px 0 0px #fafafa;
  }
}

.container {
  @apply px-2 w-full lg:max-w-6xl mx-auto;
}

.glass {
  @apply backdrop-blur;

  background-color: rgba(250, 250, 250, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.4);
}

#latest-article {
  min-height: 28rem;
}

.title,
.title a {
  line-height: 4rem !important;
}

.badges {
  @apply flex flex-row font-bold;

  li {
    @apply px-3 py-0.5;

    &:nth-child(1) {
      @apply bg-dos-black;
    }

    &:nth-child(2) {
      @apply bg-dos-pink;
    }
  }
}

.content {
  h2 {
    @apply inline-block border-b-4 border-dos-blue drop-shadow-lg text-3xl mb-8 mt-12;
  }

  h3,
  h4 {
    @apply text-2xl my-8;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply text-justify mb-8;
  }

  p code,
  > pre code {
    @apply bg-dos-black inline-block px-2;
  }

  > pre {
    @apply mb-8;

    code {
      @apply p-4 block;
    }
  }

  .highlight {
    @apply mb-8;

    td pre {
      @apply p-2;
    }
  }

  hr {
    @apply m-8;
  }

  blockquote {
    @apply ml-2 py-2 px-4 mb-8 border-l-2 border-dos-pink;

    p:last-child {
      @apply mb-0;
    }
  }

  ul {
    @apply list-disc px-8 mb-8;

    ul,
    ol {
      @apply mb-0;
    }
  }

  ol {
    @apply list-decimal px-8 mb-8;

    ol,
    ul {
      @apply mb-0;
    }
  }

  li p {
    @apply mb-0;
  }

  table {
    @apply mx-auto mb-8;

    td,
    th {
      @apply py-2 px-4;
    }

    thead th {
      @apply bg-dos-white text-dos-black font-bold text-left;
    }

    tbody tr {
      &:nth-child(even) {
        @apply bg-dos-white bg-opacity-10;
      }

      &:hover {
        @apply bg-dos-pink;
      }
    }
  }

  img {
    @apply w-3/4 mx-auto;
  }
}

footer {
  &::before {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  ul {
    @apply flex flex-col gap-1;

    a {
      @apply relative before:absolute before:h-0.5 before:bg-dos-pink before:left-0 before:bottom-0 before:w-0 before:transition-all before:duration-700;

      &:hover {
        @apply before:w-full;
      }
    }
  }
}
