@import "node_modules/@fontsource/saira/latin.css";
@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

html,
body {
  @apply bg-dos-background min-h-screen text-dos-black;
}

svg {
  @apply inline-block align-top;
}

p {
  @apply leading-7 text-justify;
}

main {
  @apply text-dos-white;

  &::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  a {
    @apply text-dos-pink;
  }
}

footer::before {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

nav {
  @apply text-dos-black;

  ul {
    @apply md:w-1/3 md:flex flex-row;
  }

  li {
    a {
      @apply text-dos-black h-12 px-4 relative block before:absolute before:h-1 before:bg-dos-pink before:left-0 before:bottom-0 before:w-0 before:transition-all before:duration-700;

      line-height: 3rem;

      &.active {
        @apply before:w-full;
      }

      &:hover {
        @apply before:w-full;
      }
    }
  }
}

#logo {
  &::before,
  &::after {
    @apply hidden md:block w-5 h-5 absolute z-20 bottom-0 rounded-full -mb-1;
    content: "";
  }

  &::before {
    @apply -left-5;
    box-shadow: 10px -10px 0 0px #fafafa;
  }

  &::after {
    @apply -right-5;
    box-shadow: -10px -10px 0 0px #fafafa;
  }
}

.container {
  @apply px-2 w-full lg:max-w-6xl mx-auto;
}

footer ul {
  @apply flex flex-col gap-1;

  a {
    @apply relative before:absolute before:h-0.5 before:bg-dos-pink before:left-0 before:bottom-0 before:w-0 before:transition-all before:duration-700;

    &:hover {
      @apply before:w-full;
    }
  }
}

.glass {
  @apply backdrop-blur;

  background-color: rgba(250, 250, 250, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.4);
}

#latest-article {
  min-height: 28rem;
}

.title a {
  @apply text-dos-black mb-8 whitespace-nowrap text-4xl h-16 pr-3 bg-dos-white inline-block font-bold relative border-b-4 border-dos-blue before:bg-dos-white before:h-16 before:absolute before:border-b-4 before:border-dos-blue before:w-full before:right-full;

  line-height: 4rem;
}

.badges {
  @apply flex flex-row font-bold;

  li {
    @apply px-3 py-0.5;

    &:nth-child(1) {
      @apply bg-dos-black;
    }

    &:nth-child(2) {
      @apply bg-dos-pink;
    }
  }
}

.article-list {
  @apply flex flex-wrap flex-col;
}
