{{- $paginator := $.Paginator -}}
<ul class="flex flex-row gap-4 justify-center mt-8">
  {{- if $paginator.HasPrev -}}
  <li>
    <a
      href="{{ $paginator.Prev.URL }}"
      class="glass rounded-lg px-2 py-1 text-dos-white shadow-lg uppercase"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-narrow-left"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <line x1="5" y1="12" x2="9" y2="16"></line>
        <line x1="5" y1="12" x2="9" y2="8"></line>
      </svg>
      Prev</a
    >
  </li>
  {{- end -}} {{- if $paginator.HasNext -}}
  <li>
    <a
      href="{{ $paginator.Next.URL }}"
      class="glass rounded-lg px-2 py-1 text-dos-white shadow-lg uppercase"
      >Next
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-narrow-right"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <line x1="15" y1="16" x2="19" y2="12"></line>
        <line x1="15" y1="8" x2="19" y2="12"></line></svg
    ></a>
  </li>
  {{- end -}}
</ul>
